
	
<%- include ../partials/header.ejs %>
<title>Tools Edit Page</title>


	<h1>Tools Edit Page</h1>

		<form id="toolEditForm" action="/tools/<%=tool._id%>?_method=PUT" method="POST">
			Type of Tool: <input type="text" name="typeOfTool" value="<%=tool.typeOfTool%>" placeholder="<%=tool.typeOfTool%>"/>
			<br>
			Description: <input type="text" name="description" value="<%=tool.description%>" placeholder="<%=tool.description%>"/>
			<br>
			<button type="submit">UPDATE TOOL</button>
		</form>		

<%- include ../partials/footer.ejs %>

