
	
<%- include ../partials/header.ejs %>
<title>Tools Edit Page</title>


	<h1>Tools Edit Page</h1>
	<%if (canEdit){%>

	<form id="toolEditForm" action="/tools/<%=tool._id%>?_method=PUT" enctype='multipart/form-data' method="POST">

		Type of Tool: <input type="text" name="typeOfTool" value="<%=tool.typeOfTool%>" placeholder="<%=tool.typeOfTool%>"/>
		<br>
		<br>

		Description: <input type="text" name="description" value="<%=tool.description%>" placeholder="<%=tool.description%>"/>
		<br>

		Update Image: <input type="file" name="imageData" value='<%=tool.toolImage%>'><br>

		Title of Image: <input type="text" name="imageTitle" value='<%=tool.toolImage.imageTitle%>'><br>

		Image description: <input type="text" name="imageDescription" value='<%=tool.toolImage.imageDescription%>'>
		
		<br>
		<button type="submit">UPDATE TOOL</button>
		<br>
		<br>
	</form>	
	<form action='/tools/<%=tool._id%>?_method=DELETE' method='POST'>
		<button type='submit'>DELETE TOOL</button>
	</form>
		<br>
	<%} else {%>
	<h3>YOU HAVE NOT POSTED THIS TOOL AND CANNOT EDIT IT</h3>
	<ul>
		<li><%=tool.typeOfTool%></li>
		<li><%=tool.description%></li>
	</ul>

	<%}%>
	<br>
	<br>
	<br>

<%- include ../partials/footer.ejs %>

