<%- include ../partials/header.ejs %>
<title>Tools Index Page</title>
<div class='container'>	
	<h1>WELCOME TO TOOLSHED</h1>
</div>
<div id="toolIndexUserStory">
	<p>Thanks for visiting toolshed, where you can find the tools you need... instantly! We are the only crowdsourced tool sharing site on the web! Do you have tools that are collecting dust? Do you need to use tools but don't want to go through the cost and hassle of renting? Create an account! Then you can either post a tool to the toolshed community or leave comments on an existing tool get in touch with that tool's owner.</p>
</div>
<div class="toolIndexUlContainer">
	<ul id="toolIndexUl">
		<% tools.forEach((tool) => { %>
		<li>
		<div id='toolListing'>
			<h2><a href='/tools/<%=tool._id%>'><%=tool.typeOfTool%></a></h2>
			<h6>Date/Time Posted: <%=tool.timePosted%></h6>  
			<h6>Tool Type: <%=tool.typeOfTool%></h6> 
			<div class='toolDescription'>Description: <%=tool.description%></div> 
			<div class='toolDescription'>Contact Owner: <a href='/users/<%=tool.owner._id%>'><%=tool.owner.userName%></a></div>
			<img src='/tools/<%=tool._id%>/picture' />
		</div>
		</li>

		<% })%>
	</ul>
</div>



<%- include ../partials/footer.ejs %>
