<%- include ../partials/header.ejs %>
<title>Tools Index Page</title>
	<h2>Tools Index page</h2>
		<% tools.forEach((tools) => { %>
	<ul>
			<li><a href='/tools/<%=tools._id%>'><%=tools.typeOfTool%></li></a>
				<li><%=tools.timePosted%></li>  
				<li><%=tools.typeOfTool%></li> 
				<li><%=tools.description%></li> 
	</ul>
	<br>

		<% })%>

	<a href="/tools/new" id="createTool">POST NEW TOOL</a>


<%- include ../partials/footer.ejs %>

