<%- include ../partials/header.ejs %>
<title>Tools Index Page</title>
<div id='toolsIndexContainer'>	
	<h2 id='toolsIndexTitle'>WELCOME TO TOOLSHED</h2>
</div>
	<ul>
		<% tools.forEach((tool) => { %>
		<li><a href='/tools/<%=tool._id%>'><%=tool.typeOfTool%></li></a>
		<li>Date/Time Posted: <%=tool.timePosted%></li>  
		<li>Tool Type: <%=tool.typeOfTool%></li> 
		<li>Description: <%=tool.description%></li> 
		<li>Owner: <a href='/users/<%=tool.owner._id%>'><%=tool.owner.userName%></a></li>
		<li><img src='/tools/<%=tool._id%>/picture' /></li>
		<br>

		<% })%>
	</ul>


<%- include ../partials/footer.ejs %>
