<!DOCTYPE html>
<html>
<head>
	<title>Tools Index page</title>
</head>
<body>
	<h2>Tools Index page</h2>
		<% tools.forEach((tools) => { %>
	<ul>
			<li><a href='/tools/<%=tools._id%>'><%=tools.typeOfTool%></li></a>
				<li><%=tools.timePosted%></li>  
				<br>
				<li><%=tools.typeOfTool%></li> 
				<br>
				<li><%=tools.description%></li> 

	</ul>
		<% })%>

</body>
</html>