<!DOCTYPE html>
<html>
<head>
	<title>Tools Index page</title>
</head>
<body>
	<h2>Tools Index page</h2>
		<% tools.forEach((tools) => { %>
	<ul>
			<li><a href='/tools/<%=tools._id%>'><%=tools.typeOfTool%></li></a>
				<li><%=tools.timePosted%></li>  
				<li><%=tools.typeOfTool%></li> 
				<li><%=tools.description%></li> 
	</ul>
	<br>

		<% })%>

	<a href="/tools/new" id="createTool">POST NEW TOOL</a>
</body>
</html>