<%- include ../partials/header.ejs %>
<title>Tools Index Page</title>
<div id='toolsIndexContainer'>	
	<h1 id='toolsIndexTitle'>WELCOME TO TOOLSHED</h1>
</div>
<div id="toolIndexUlContainer">
	<ul id="toolIndexUl">
		<% tools.forEach((tool) => { %>
		<li></li>
		<div class="container">
			<li><a href='/tools/<%=tool._id%>'><%=tool.typeOfTool%></li></a>
			<li>Date/Time Posted: <%=tool.timePosted%></li>  
			<li>Tool Type: <%=tool.typeOfTool%></li> 
			<li>Description: <%=tool.description%></li> 
			<li>Owner: <a href='/users/<%=tool.owner._id%>'><%=tool.owner.userName%></a></li>
			<img src='/tools/<%=tool._id%>/picture' />
		</div>

		<% })%>
	</ul>
</div>



<%- include ../partials/footer.ejs %>
