

<%- include ../partials/header.ejs %>
<title>Tools Show Page</title>

	<h2><%=tool.typeOfTool%>'s Page</h2>

	<img src='/tools/<%=tool._id%>/picture' />
	
	<ul id="toolShowUL">
		Type of Tool: <li><%=tool.typeOfTool%></li>
		<br>
		Description: <li><%=tool.description%></li>
		<br>
		<li><%=tool.timePosted%></li>
	</ul>
		<br>
		<a href="/tools/<%=tool._id%>/edit">EDIT TOOL</a>
		<br>
		<a href="/comments/<%=tool._id%>/new">LEAVE A COMMENT ABOUT THIS TOOL</a>

			<!-- THIS WORKS ^^^ DO NOT FUCK WITH IT ^^^ -->


	<div id='commentDiv'>
		<%tool.comments.forEach((comment, i) => {%>
			<p class='commentElement'><strong> whenCommentPosted : </strong> <%=comment.whenCommentPosted%></p>
			<br/>
			<p class='commentElement'><strong>commentAuthor :</strong> <%=comment.commentAuthor%></p>
			<br/>
			<p class='commentElement'><strong>Comment body:</strong> <%=comment.commentBody%></p>
			<br/>
			
			
		<% }) %>

	</div>
	

<%- include ../partials/footer.ejs %>