

<%- include ../partials/header.ejs %>
<title>Tools Show Page</title>

	<h2><%=tool.typeOfTool%>'s Show Page</h2>

		<ul id="toolShowUL">
			<li><%=tool.typeOfTool%></li>
			<br>
			<li><%=tool.description%></li>
			<br>
			<li><%=tool.timePosted%></li>
		</ul>

		<form action='/tools/<%=tool._id%>?_method=DELETE' method='POST'>
			<button type='submit'>DELETE TOOL</button>
		</form>
			<br>
			<a href="/tools/<%=tool._id%>/edit">EDIT TOOL</a>
			<br>
			<a href="/tools/<%=tool._id%>/comments/new">LEAVE A COMMENT ABOUT THIS TOOL</a>

			<!-- we want something ^^^ here that ^^^ will allow users to post comment(s) -->
	

<%- include ../partials/footer.ejs %>