<%- include ../partials/header.ejs %>

<title>Comments New Page</title>


	<h1>New Comment Page</h1>
	<div>
		<h4><%=tool.typeOfTool%></h4>
		<img src="/tools/<%=tool.id%>/picture"/>
	</div>

	<form action='/comment/<%=tool._id%>' method='POST'>

		<!-- action='/comments' was previously here -->
		<%=tool._id%>
		Date: <input type="date" name="whenCommentPosted">
		<br>
		<br>
		Comment: <input type="text" name="commentBody" placeholder="insert comment">
		<br>
		<br>
		Author: <input type="text" name="commentAuthor" placeholder="comment author">
		<br>
		<br>
		<button type='submit'>Post Comment</button>
	</form>

<%- include ../partials/footer.ejs %>